<!DOCTYPE html>

<html>

<head>
    <title>School</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  
</head>


<body>
    <div class="main-content">
        {{>header}}
        <p id="font"><i> WELCOME TO OUR SCHOOL</i></p>
    </div>
    {{>footer}}
</body>

</html>