<header>
    <a href="/create"> 
        <button>Create student data</button>
        </a>
    <a href="/edit"> 
        <button>Edit student data</button>
        </a>
    <a href="/list "> 
        <button>Student list</button>
        </a>
    <style>
        a {
        cursor: pointer;
        }
    </style>
</header>